/* html elements */
html {
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
  }
h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', sans-serif;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.8;
}
button {
  border-radius: 50px;
  border: solid 2px hsl(0, 0%, 95%);
  width: 65%;
  padding: 15px;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}
button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: solid 2px hsl(0, 0%, 95%);
}

/* classes */
.main-wrapper {
  display: flex;
  height: 60vh;
  margin: 15vh 35vh 15vh 35vh;
}
.wrap {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  height: 68%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sedan {
  background-color: hsl(31, 77%, 52%);
}
.sedan-btn {
  color: hsl(31, 77%, 52%);
}
.suv {
  background-color: hsl(184, 100%, 22%);
}
.suv-btn {
  color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.luxury-btn {
  color: hsl(179, 100%, 13%);
}
.left { border-radius: 10px 0px 0px 10px; }
.right { border-radius: 0px 10px 10px 0px; }

/* mobile media queries */
@media only screen and (max-width: 375px) {
    .main-wrapper {
        flex-direction: column;
        margin: 5vw;
    }
    .content {
        height: 90%;
    }
    p {
        margin: 10px 0px 30px 0px;
    }
    .left {
        border-radius: 10px 10px 0px 0px;
    }   
    .right {
        border-radius: 0px 0px 10px 10px;
    } 
}